

:root {
    --bg-color1: #0E1116;
    --bg-color2: #374A67;
    --bg-color3: #64A6BD;
    --bg-color4: #9E7B9B;

    --box-width: 80vw;
    --box-height: 80vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(
        -45deg,
        var(--bg-color1),
        var(--bg-color2),
        var(--bg-color3),
        var(--bg-color4)
    );
    background-size: 400% 400%;
    animation: gradient 10s ease-in-out infinite;
    animation-direction: alternate;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#particles-js
{
    width: 100%;
    height: 100%;
    


}
#solid-box {
    position: absolute;
    width: var(--box-width);
    height: var(--box-height);

    background: black;
    opacity: 0.10;
}